.music-player {
  width: 480px;
}

.album-art {
  width: 480px;
  height: 480px;
  border-radius: 8px;
  margin: 32px 0 24px;
  object-fit: cover;
}

.song-info h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 8px;
}

.song-info p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}


.progress-bar {
  background-color: #ffffff33;
  height: 6px;
  border-radius: 16px;
  margin-bottom: 32px;
  position: relative;
  width: 100%;
}

.progress {
  background-color: #fff;
  height: 100%;
  border-radius: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}