.tabs {
  margin: 0 16px;
  display: flex;
  gap: 40px;
}

.tabs button {
  height: 32px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 50%;
}

.tabs .active {
  opacity: 100%;
}

.search-bar {
  margin: 32px 16px 24px;
  position: relative;
}

.search-bar input {
  padding: 8px 16px;
  width: calc(100% - 32px);
  height: 24px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: 0;
  color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
  pointer-events: none;
}


.songs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
}

.song-item:hover,
.song-item.selected {
  background: rgba(255, 255, 255, 0.1);
}

.song-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.song-info h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.song-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.6;
}

.song-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  margin-left: auto;
}