.app {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.tabs {
  margin: 0 16px;
  display: flex;
  gap: 40px;
}

.tabs button {
  height: 32px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  opacity: 50%;
}

.tabs .active {
  opacity: 100%;
}

.search-bar {
  margin: 32px 16px 24px;
  position: relative;
}

.search-bar input {
  padding: 8px 16px;
  width: 400px;
  height: 24px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: 0;
  color: #fff;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #666;
  pointer-events: none;
}