.app {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 64px);
  padding: 32px;
  gap: 48px;
}

.menu-btn {
  display: none
}

.menu-btn img {
  height: 100%;
}


.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  height: 48px;
}

.user-pic {
  width: 48px;
  height: 48px;
  border-radius: 80px;
  background-color: #151515;
}

.top-menu {
  display: none;
}

.music-list,
.music-player {
  flex: 2
}


@media (max-width:768px) {
  .app {
    flex-direction: column;
    justify-content: flex-start;
  }

  .menu-btn {
    display: initial;
    height: 32px;
  }

  .logo {
    height: 38px;
  }

  .user-pic {
    width: 42px;
    height: 42px;
  }

  .side-menu {
    flex-direction: row;
    align-items: center;
  }

}